* {
  box-sizing: border-box;
  text-align: center;
}

html {
  height: 100%;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  min-height: 100vh;
  margin: 0;
}

.header-container {
  min-height: 100vh;
  text-align: center;
  color: #926239;
  line-height: 1.5;
  background-image: url(./images/beachshowcase.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 30vh;
}

.first-txt {
  margin: auto;
  font-size: 55px;
  font-weight: bold;
}

.second-txt {
  text-align: center;
  margin: auto;
  left: 20%;
  right: auto;
  font-size: 25px;
  z-index: 300;
}

.button-right {
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: center;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #926239;
  border-radius: 10px;
  font-size: 25px;
  letter-spacing: 1px;
  color: #926239;
}

.button-right:hover {
  background-color: #926239;
  color: white;
  transition: 0.4s;
}

.paragraph-1,
.paragraph-2 {
  padding: 30px;
  font-size: 20px;
  color: white;
  line-height: 1.5;
}

.paragraph-1 {
  background-color: #926239;
}

.paragraph-2 {
  color: #926239;
}

.column {
  float: left;
  width: 33%;
}

.card {
  padding: 20px;
  text-align: center;
  background-color: #926239;
  font-size: 20px;
  color: white;
  line-height: 1.5;
}

.card-2 {
  padding: 20px;
  text-align: center;
  background-color: #f6f5f5;
  font-size: 20px;
  color: #926239;
  line-height: 1.5;
}

.text-overflow {
  white-space:nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
